<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.concurrentstock.base.mapper.ProductOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cola.concurrentstock.base.model.ProductOrder">
        <id column="id" property="id" />
        <result column="order_name" property="orderName" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
    </resultMap>

</mapper>
